name: adwaita
description: Implementation of libadwaita for flutter/dart.
version: 0.0.2
homepage: https://github.com/gtk-flutter/libadwaita

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

flutter:
